name: Build Sample App for CI

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - "**.md"
  pull_request:
    branches: [ "main" ]

jobs:
  build-sample-ci:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x
      - name: Install MAUI Android workload
        run: dotnet workload install maui-android
      - name: Build
        run: dotnet build sample\\CustomTabs.Sample\\CustomTabs.Sample.csproj -c Release -f net9.0-android -p:TargetFramework=net9.0-android -p:TargetFrameworks=net9.0-android
      - name: Build Prism Sample
        run: dotnet build sample\\CustomTabs.Prism.Sample\\CustomTabs.Prism.Sample.csproj -c Release -f net9.0-android -p:TargetFramework=net9.0-android -p:TargetFrameworks=net9.0-android
